In [388]:
import pandas as pd
import numpy as np
from category_encoders.ordinal import OrdinalEncoder
from category_encoders.sum_coding import SumEncoder
from category_encoders.leave_one_out import LeaveOneOutEncoder
from category_encoders.helmert import HelmertEncoder
from sklearn.preprocessing import OneHotEncoder
from category_encoders.one_hot import OneHotEncoder as OneHotEncoder_ce
from category_encoders.polynomial import PolynomialEncoder
from category_encoders.backward_difference import BackwardDifferenceEncoder

In [389]:
data = pd.read_csv('abalone.data', names=['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings'])
data.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [390]:
# onehotenc = OneHotEncoder(handle_unknown='ignore')
# data_ohe = data.join(pd.DataFrame(onehotenc.fit_transform(data[['Sex']]).toarray())).drop(columns=['Sex'])
# # Using sklearn

onehotenc_ce = OneHotEncoder_ce()
data_ohe = data.join(onehotenc_ce.fit_transform(data['Sex']))
#Using category_encoders

data_ohe.head()

  Sex  Length  Diameter  Height  ...  Rings  Sex_1  Sex_2  Sex_3
0   M   0.455     0.365   0.095  ...     15      1      0      0
1   M   0.350     0.265   0.090  ...      7      1      0      0
2   F   0.530     0.420   0.135  ...      9      0      1      0
3   M   0.440     0.365   0.125  ...     10      1      0      0
4   I   0.330     0.255   0.080  ...      7      0      0      1

[5 rows x 12 columns]

In [396]:
ord_enc = OrdinalEncoder(cols = ['Sex'])
ord_enc.fit_transform(data)

      Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0       1   0.455     0.365  ...          0.1010        0.1500     15
1       1   0.350     0.265  ...          0.0485        0.0700      7
2       2   0.530     0.420  ...          0.1415        0.2100      9
3       1   0.440     0.365  ...          0.1140        0.1550     10
4       3   0.330     0.255  ...          0.0395        0.0550      7
...   ...     ...       ...  ...             ...           ...    ...
4172    2   0.565     0.450  ...          0.2390        0.2490     11
4173    1   0.590     0.440  ...          0.2145        0.2605     10
4174    1   0.600     0.475  ...          0.2875        0.3080      9
4175    2   0.625     0.485  ...          0.2610        0.2960     10
4176    1   0.710     0.555  ...          0.3765        0.4950     12

[4177 rows x 9 columns]

**Признчення натуральних чисел в порядку зустрічі нової змінної. Мінус - відсутність зв'язку з ранжуванням змінної, кожен її вид рівний за сенсом, може вплинути на вагу статі**

In [392]:
LOOE_encoder = LeaveOneOutEncoder()
looe_enc = LOOE_encoder.fit_transform(data[['Sex']], data['Rings'])
looe_enc.head()

         Sex
0  10.702685
1  10.707924
2  11.130934
3  10.705959
4   7.891126

**Схоже на таргет енкодер, але виключає таргет поточного рядка під час обчислення, щоб зменшити вплив викидів.**

In [393]:
HE_encoder = HelmertEncoder()
helmert_enc = HE_encoder.fit_transform(data[['Sex']], data['Rings']).join(data['Sex'])
helmert_enc.head()

C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

   intercept  Sex_0  Sex_1 Sex
0          1   -1.0   -1.0   M
1          1   -1.0   -1.0   M
2          1    1.0   -1.0   F
3          1   -1.0   -1.0   M
4          1    0.0    2.0   I

**This method creates a new variable which is the difference between the mean of the target for each level and the mean of the target for the previous level.**

In [394]:
poly_enc = PolynomialEncoder(cols = ['Sex'])
poly_enc.fit_transform(data)

C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

      intercept         Sex_0     Sex_1  ...  Viscera weight  Shell weight  Rings
0             1 -7.071068e-01  0.408248  ...          0.1010        0.1500     15
1             1 -7.071068e-01  0.408248  ...          0.0485        0.0700      7
2             1 -4.433780e-17 -0.816497  ...          0.1415        0.2100      9
3             1 -7.071068e-01  0.408248  ...          0.1140        0.1550     10
4             1  7.071068e-01  0.408248  ...          0.0395        0.0550      7
...         ...           ...       ...  ...             ...           ...    ...
4172          1 -4.433780e-17 -0.816497  ...          0.2390        0.2490     11
4173          1 -7.071068e-01  0.408248  ...          0.2145        0.2605     10
4174          1 -7.071068e-01  0.408248  ...          0.2875        0.3080      9
4175          1 -4.433780e-17 -0.816497  ...          0.2610        0.2960     10
4176          1 -7.071068e-01  0.408248  ...          0.3765        0.4950     12

[4177 rows x 11 columns]

**Polynomial coding is a form of trend analysis in that it is looking for the linear, quadratic and cubic trends in the categorical variable**

In [395]:
backward_enc = BackwardDifferenceEncoder(cols = ['Sex'])
backward_enc.fit_transform(data)

C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

      intercept     Sex_0     Sex_1  ...  Viscera weight  Shell weight  Rings
0             1 -0.666667 -0.333333  ...          0.1010        0.1500     15
1             1 -0.666667 -0.333333  ...          0.0485        0.0700      7
2             1  0.333333 -0.333333  ...          0.1415        0.2100      9
3             1 -0.666667 -0.333333  ...          0.1140        0.1550     10
4             1  0.333333  0.666667  ...          0.0395        0.0550      7
...         ...       ...       ...  ...             ...           ...    ...
4172          1  0.333333 -0.333333  ...          0.2390        0.2490     11
4173          1 -0.666667 -0.333333  ...          0.2145        0.2605     10
4174          1 -0.666667 -0.333333  ...          0.2875        0.3080      9
4175          1  0.333333 -0.333333  ...          0.2610        0.2960     10
4176          1 -0.666667 -0.333333  ...          0.3765        0.4950     12

[4177 rows x 11 columns]

**Cереднє значення фічі для рівня порівнюється із середнім значенням фічі для попереднього рівня**

In [399]:
sum_enc = SumEncoder(['Sex'])
sum_enc.fit_transform(data[['Sex']], data['Rings'])

C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
C:\Users\gergi_6afqda2\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

      intercept  Sex_0  Sex_1
0             1    1.0    0.0
1             1    1.0    0.0
2             1    0.0    1.0
3             1    1.0    0.0
4             1   -1.0   -1.0
...         ...    ...    ...
4172          1    0.0    1.0
4173          1    1.0    0.0
4174          1    1.0    0.0
4175          1    0.0    1.0
4176          1    1.0    0.0

[4177 rows x 3 columns]

**Подібне до One Hot Encoding, але різниця полягає в тому, що в сумовому кодуванні ми приймаємо одне значення як «-1», і воно не порівнюється з іншим значенням. У той час як у One Hot ми створюємо один стовпець для кожного значення для порівняння з усіма іншими значеннями.**